{% extends "public_base.html" %}

{% block content %}
<div class="row row-cols-2 row-cols-md-4 g-4 mt-2">
    {% for product in products %}
    <div class="col">
        <div class="card h-100 border-0 shadow-sm text-center">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top rounded-top" alt="{{ product.name }}" style="height: 250px; object-fit: cover;">
            {% else %}
                <div class="card-img-top bg-light d-flex align-items-center justify-content-center text-muted rounded-top" style="height: 250px;">
                    <i class="bi bi-image fs-1"></i>
                </div>
            {% endif %}
            
            <div class="card-body p-3">
                <h6 class="card-title fw-bold text-dark mb-1">{{ product.name }}</h6>
                <small class="text-muted">{{ product.category.name }}</small>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12 text-center py-5">
        <h5 class="text-muted">Ürün bulunamadı.</h5>
    </div>
    {% endfor %}
</div>
{% endblock %}
